@import 'normalize.styl';

.b-logo {
  background-image: url('logo.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 39px;
  width: 128px;
}

.b-banner {
  font-family: font, sans-serif;
  width: 980px;
  height: 240px;
  background: rgba(255, 255, 255, 1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  color: rgba(80, 80, 80, 1);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;

  &>* {
    text-decoration: none;
  }


}

.b-header {
  font-size: 28px;
  font-weight: 300;

  b {
    font-weight: 700;
  }
}


.b-text {
  color: #606060;
  font-weight: bold;
  font-size: 17px;

  span {
    display: block;
    color: rgba(15, 173, 140, 1);
    font-weight: bold;
    text-transform: uppercase;
  }

  &._small {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
}

.b-button {
  background-color: rgba(133, 74, 213, 1);
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  height: 44px;
  line-height: 44px;
  text-align: center;
  width: 178px;
  font-weight: 400;

  transition: .1s all ease-in-out;

  &:hover {
    background-color: darken(rgba(133, 74, 213, 1), 10);
  }
}

.b-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 24px;
  padding-top: 23px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.b-illustration {
  position: relative;
  overflow: visible;
  height: 100%;
  width: fit-content;

  .back {
    height: 240px;
    width: 363px;
    object-fit: cover;
  }

  .stroke {
    position: absolute;
    top: 0;
    left: 8px;
  }
}