
<!-- inject-css ../../../dist/test/style.css -->
<!-- inject-css ../../../dist/test/font.css -->
<script src="main.js"></script>
<div class="b-main">
	<div class="b-head">
		tjanster
		<div class="b-line"></div>
	</div>
	<div class="b-block">
		<div class="b-headerText">
			Investera i fastigheter tillsammans med Di och Tessin.se
			Nedanfoljer ett axplock av intressanta projekt
		</div>
		<div class="b-blockImg">
			<div class="b-smallBlockImg">
				<a href="{{ _ADCLICK_ }}"
					 target="_blank"
					 class="b-img__a"
				>
					<div
						style=""
				 		alt=""
						class="b-img"
					>
					</div>
				</a>
				<dvi></dvi>
			</div>
			<div class="b-smallBlockImg">
				<a href="{{ _ADCLICK_ }}"
					 target="_blank"
					 class="b-img__a"
				>
					<div
						style=""
						alt=""

						class="b-img">
					</div>
				</a>
				<dvi></dvi>
			</div>
			<div class="b-smallBlockImg">
				<a href="{{ _ADCLICK_ }}"
					 target="_blank"
					 class="b-img__a"
				>
					<div
						style=""
						alt=""
						class="b-img"
					>
					</div>
				</a>
				<dvi></dvi>
			</div>
		</div>
		<div class="b-buttonBlock">
			<div class="b-buttonBlockText">
				<div class="b-buttonBlockText__text">I samarbete med</div>
				<a href="https://tessin.se"><img class="b-svg" src="logo.svg" alt=""></a>
			</div>
			<a href="https://tessin.se/projekt/"><button class="b-button">Se fler projekt</button></a>
		</div>
	</div>
</div>