
<!-- inject-css ../../../dist/test/250x360/style.css -->

<script>
    var clickTag = 'https://tessin.se';
    var clickUrl = '_ADCLICK_';
    function clickit(id){
        if (id === 'static') {
            window.open(clickTag);
        } else if (id === 'quad_ADTIME_') {
            window.open(clickUrl, '_blank');
        }

    }
</script>

{% if _ADPATH_ === undefined %}
<div class="b-banner wrapper" id="static" onclick="clickit('static')">
    <div class="b-header">
        <b>Investera</b> i fastigheter
    </div>

    <div class="b-text">
        Bygg din portfölj med säkerställda fastighetslån
    </div>

    <div class="b-button">
        LÄS MER
    </div>

    <div class="b-desc">
        <div class="b-text-just">
            <span>JUST NU</span>
            Nyproduktion i expansiva
            <br/>
            Aspudden
        </div>

        <div class="b-logo"></div>
    </div>

    <div class="b-illustration">
        <img class="stroke" src="stroke.svg">
        <img class="back" src="image.jpg">
    </div>
</div>
{% endif %}

{% if _ADPATH_ !== undefined %}
<!-- inject-css ../../../dist/test/250x360/font.css -->
<div class="b-banner wrapper" id="quad_ADTIME_" onclick="clickit('quad_ADTIME_')">

    <div class="b-header">
        <b>Investera</b> i fastigheter
    </div>

    <div class="b-text">
        Bygg din portfölj med säkerställda fastighetslån
    </div>

    <div class="b-button">
        LÄS MER
    </div>

    <div class="b-desc">
        <div class="b-text-just">
            <span>JUST NU</span>
            Nyproduktion i expansiva
            <br/>
            Aspudden
        </div>

        <div class="b-logo"></div>
    </div>

    <div class="b-illustration">
        <img class="stroke" src="stroke.svg">
        <img class="back" src="image.jpg">
    </div>
</div>
{% endif %}